@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    a {
      color: #231f20;
      text-decoration: none;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
      box-sizing: border-box;
      display: block;
      &:hover {
        border-bottom: 4px solid #ffcc00;
        color: #231f20;
      }
      &:active {
        border-bottom: 4px solid #ffcc00;
        color: #231f20;
      }
    }
  }

  .NavigationItem a.active {
    font-weight: bold;
    border-bottom: 4px solid #ffcc00;
    color: #231f20;
  }
}

.NavigationItem {
  margin: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  a {
    color: #231f20;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    &:hover {
      border-bottom: 4px solid #ffcc00;
      color: #231f20;
    }
    &:active {
      border-bottom: 4px solid #ffcc00;
      color: #231f20;
    }
  }
}

.NavigationItem a.active {
  font-weight: bold;
  border-bottom: 4px solid #ffcc00;
  color: #231f20;
}
